@charset 'UTF-8';
/**
 * variable
 */
body { background-color: #fff; }

/* Common Style */
* { margin: 0; padding: 0; }

/* set html5 elements to block */
article , aside , details , figcaption , figure , footer , header , hgroup , menu , nav , section { display: block; }

html , body , div , span , object , iframe , h1 , h2 , h3 , h4 , h5 , h6 , p , blockquote , pre , a , abbr , address , cite , code , del , dfn , em , font , img , ins , q , s , samp , strike , strong , sub , sup , dl , dt , dd , ol , ul , li , fieldset , form , label , legend { line-height: 1.3em; border: 0 none; }

body {font-family: 'Segoe UI', 'Malgun Gothic', sans-serif; font-size: 100%; line-height: 1.3em;  position: relative; min-height: 320px; margin: 0 auto; -ms-text-size-adjust: 100%; text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

header , h1 { font-size: 100%; }

html , body { height: 100%; }

caption , legend {font-size: 0;  position: absolute; top: -9999px; left: -9999px; visibility: hidden; overflow: hidden; width: 0; height: 0; }

caption { display: none; }

img {vertical-align: top;  border: none; }

select , input { vertical-align: top; border: 0px; border-radius: 0; background-color: transparent; }

hr { display: none; border: 0 none; }

ol , ul , ul li { list-style: none; }

em { font-style: normal; }

menu li { list-style: none; }

address {font-style: normal;  display: inline; }

button {cursor: pointer; border: 0px; background-color: transparent;  -webkit-appearance: none; -moz-appearance: none; appearance: none; }

table {border-spacing: 0;  border-collapse: collapse; }

input , textarea , keygen , select , button { font-family: 'Segoe UI', 'Malgun Gothic', sans-serif; }

strong { font-weight: normal; }

dfn { font-style: normal; }

/* link Style */
a:link , a:visited , a:active , a:focus { text-decoration: none; }

a:hover { text-decoration: none; }

.is-hidden { display: none !important; }

.is-visible-hidden { visibility: hidden !important; }

.is-clear { clear: both; }

/* forms */
fieldset { -webkit-appearance: none; -moz-appearance: none; appearance: none; }

select , input[type=radio] , input[type=submit] , input[type=search] {cursor: pointer; border: 0px;  -webkit-appearance: none; -moz-appearance: none; appearance: none; }

label { cursor: pointer; }

input:focus , button:focus , textarea:focus , select , div { outline: 0; }

@font-face { font-family: 'Icons'; src: url('../fonts/icons/Icons.eot'); src: url('../fonts/icons/Icons.eot?#iefix') format('eot'), url('../fonts/icons/Icons.woff') format('woff'), url('../fonts/icons/Icons.ttf') format('truetype'), url('../fonts/icons/Icons.svg#Icons') format('svg'); }

.icon-bar-chart:before , .icon-bars:before , .icon-bell:before , .icon-bolt:before , .icon-check:before , .icon-copy:before , .icon-exclamation-circle:before , .icon-gear:before , .icon-globe:before , .icon-map-marker:before , .icon-object-ungroup:before , .icon-question-circle:before , .icon-sign-in:before , .icon-tachometer:before , .icon-th-large:before , .icon-unlock-alt:before , .icon-usd:before , .icon-user:before , .icon-warning:before , body.page-dashboard .system-activity .lds-item .point.usd:before , body.page-dashboard .system-activity .lds-item .point.tachometer:before , body.page-dashboard .system-activity .lds-item .point.bell:before , body.page-dashboard .system-activity .lds-item .point.exclamation-circle:before , .layout-header-utils .btn-menus:before , .layout-header-utils .list-utils > li > a.user:before , .layout-header-utils .list-utils > li > button.user:before , .layout-header-utils .list-utils > li > a.help:before , .layout-header-utils .list-utils > li > button.help:before , .layout-header-utils .list-utils > li > a.logout:before , .layout-header-utils .list-utils > li > button.logout:before , .layout-header-utils .bootstrap-select .dropdown-toggle:before , .layout-header-utils .language-container .btn-language:before , .layout-sidemenu .list-menus > li > a.dashboard:before , .layout-sidemenu .list-menus > li > button.dashboard:before , .layout-sidemenu .list-menus > li > a.zoning:before , .layout-sidemenu .list-menus > li > button.zoning:before , .layout-sidemenu .list-menus > li > a.node:before , .layout-sidemenu .list-menus > li > button.node:before , .layout-sidemenu .list-menus > li > a.analysis:before , .layout-sidemenu .list-menus > li > button.analysis:before , .layout-sidemenu .list-menus > li > a.user:before , .layout-sidemenu .list-menus > li > button.user:before , .layout-sidemenu .list-menus > li > a.preferences:before , .layout-sidemenu .list-menus > li > button.preferences:before , .grid-intro > li .grid-intro-item.dashboard:before , .grid-intro > li .grid-intro-item.event-alarm:before , .grid-intro > li .grid-intro-item.node:before , .grid-intro > li .grid-intro-item.zone:before , .grid-intro > li .grid-intro-item.anr:before , .grid-intro > li .grid-intro-item.fault-event:before , .grid-intro > li .grid-intro-item.save-energy:before , .grid-intro > li .grid-intro-item.users:before , .grid-intro > li .grid-intro-item.preferences:before , .grid-intro > li .grid-intro-item.widget01:before , .grid-intro > li .grid-intro-item.widget02:before , .layout-login .login-form .item.id:before , .layout-login .login-form .item.password:before , .layout-login .login-form .bootstrap-select .dropdown-toggle:before { font-family: 'Icons'; font-weight: normal; font-style: normal; font-variant: normal; text-decoration: none; text-transform: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon-bar-chart:before { content: ''; text-indent: 0; }

.icon-bars:before { content: ''; text-indent: 0; }

.icon-bell:before { content: ''; text-indent: 0; }

.icon-bolt:before { content: ''; text-indent: 0; }

.icon-check:before { content: ''; text-indent: 0; }

.icon-copy:before { content: ''; text-indent: 0; }

.icon-exclamation-circle:before { content: ''; text-indent: 0; }

.icon-gear:before { content: ''; text-indent: 0; }

.icon-globe:before { content: ''; text-indent: 0; }

.icon-map-marker:before { content: ''; text-indent: 0; }

.icon-object-ungroup:before { content: ''; text-indent: 0; }

.icon-question-circle:before { content: ''; text-indent: 0; }

.icon-sign-in:before { content: ''; text-indent: 0; }

.icon-tachometer:before { content: ''; text-indent: 0; }

.icon-th-large:before { content: ''; text-indent: 0; }

.icon-unlock-alt:before { content: ''; text-indent: 0; }

.icon-usd:before { content: ''; text-indent: 0; }

.icon-user:before { content: ''; text-indent: 0; }

.icon-warning:before { content: ''; text-indent: 0; }

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
/* media queries */
/* z-index */
/* retina */
/* aspect ratio */
/**
 * import
 */
/** layout **/
/* segmented control(스위치) */
.segmented-control .list { overflow: hidden; }
.segmented-control .list > li {position: relative;  display: block; float: left; overflow: hidden; }
.segmented-control .list > li:first-child { border-radius: 2px 0 0 2px; }
.segmented-control .list > li:last-child { border-radius: 0 2px 2px 0; }
.segmented-control .list > li input[type=radio] { position: absolute; left: -9999px; }
.segmented-control .list > li input[type=radio] + label {font-size: .750rem; line-height: 30px;  display: block; height: 30px; padding: 0 12px; transition: background-color .3s ease-in-out; color: rgba(255, 255, 255, .5); background-color: rgba(58, 70, 79, .5); }
.segmented-control .list > li input[type=radio]:checked + label {transition: background-color .1s ease-in-out;  color: #fff; background-color: rgba(76, 97, 113, .5); }

/* growth */
.growth { font-size: 1.500rem; color: rgba(255, 255, 255, .6); }
.growth:before {display: inline-block; margin: -2px 8px 0 0;  content: ''; vertical-align: middle; }
.growth span {font-size: .875rem;  display: inline-block; margin-top: 2px; vertical-align: top; }
.growth.down { color: #00a78a; }
.growth.down:before {width: 12px; height: 7px;  background-image: url(../images/sprites.png); background-position: -106px -78px; }
.growth.up { color: #b95b46; }
.growth.up:before {width: 12px; height: 8px;  background-image: url(../images/sprites.png); background-position: -114px -51px; }

/*
	page : dashboard
*/
body.page-dashboard .system-activity { overflow: hidden; background-color: #283036; }
body.page-dashboard .system-activity > .title { padding: 0 10px 0 20px; border-bottom: 1px solid #3e454a; }
body.page-dashboard .system-activity > .title h1 { font-size: 1.125rem; font-weight: 400; line-height: 48px; color: #fff; }
body.page-dashboard .system-activity > .title .segmented-control { float: right; margin-top: 9px; }
body.page-dashboard .system-activity .lds-item > .title {font-size: .750rem; font-weight: 700;  display: block; margin-bottom: 7px; color: #fff; }
body.page-dashboard .system-activity .lds-item .point {font-size: 2.250rem; font-weight: 400;  display: inline-block; vertical-align: middle; color: #fff; }
body.page-dashboard .system-activity .lds-item .point:before {font-size: 21px; line-height: 21px;  display: inline-block; width: 21px; height: 21px; margin-right: 10px; vertical-align: middle; }
body.page-dashboard .system-activity .lds-item .point .units { font-size: .875rem; color: rgba(255, 255, 255, .7); }
body.page-dashboard .system-activity .lds-item .point.usd:before { content: ''; text-indent: 0; }
body.page-dashboard .system-activity .lds-item .point.tachometer:before { content: ''; text-indent: 0; }
body.page-dashboard .system-activity .lds-item .point.bell:before { content: ''; text-indent: 0; }
body.page-dashboard .system-activity .lds-item .point.exclamation-circle:before { content: ''; text-indent: 0; }
body.page-dashboard .system-activity .lds-item .growth { float: right; margin-top: 9px; }
body.page-dashboard .system-activity .lds-item .description { font-size: .688rem; color: rgba(255, 255, 255, .5); }
body.page-dashboard .system-activity .list-dashboard-summary { overflow: hidden; }
body.page-dashboard .system-activity .list-dashboard-summary > li { display: block; float: left; box-sizing: border-box; width: 25%; margin: 11px 0; padding: 0 20px 0 20px; }
body.page-dashboard .system-activity .list-dashboard-summary > li + li { border-left: 1px solid #3e454a; }

body.page-dashboard .grid-dashboard { overflow: hidden; }
body.page-dashboard .grid-dashboard > .grid-item {position: relative;  display: block; float: left; box-sizing: border-box; width: 50%; margin-top: 12px; background-color: #232b32; }
body.page-dashboard .grid-dashboard > .grid-item:before { display: block; width: 100%; padding-top: 37.95853%; content: ''; }
body.page-dashboard .grid-dashboard > .grid-item > .inner { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }
body.page-dashboard .grid-dashboard > .grid-item > .inner { padding: 17px 25px 0px 25px; }
body.page-dashboard .grid-dashboard > .grid-item:nth-child(odd) { width: calc(50% - 6px); }
body.page-dashboard .grid-dashboard > .grid-item:nth-child(even) { float: right; width: calc(50% - 6px); }
body.page-dashboard .grid-dashboard > .grid-item.map .inner { padding: 0; }
body.page-dashboard .grid-dashboard > .grid-item .grid-item-title { font-size: .813em; font-weight: 700; color: #fff; }
body.page-dashboard .grid-dashboard > .grid-item .grid-item-desc {font-size: .813rem;  float: right; color: rgba(255, 255, 255, .5); }
body.page-dashboard .grid-dashboard > .grid-item .chart { position: absolute; top: 45px; right: 25px; bottom: 10px; left: 25px; }
body.page-dashboard .grid-dashboard > .grid-item .chart img {width: 100%;  max-height: 100%; }
body.page-dashboard .grid-dashboard > .grid-item .list-chart { overflow: hidden; height: 100%; }
body.page-dashboard .grid-dashboard > .grid-item .list-chart > li {position: relative;  display: block; float: left; box-sizing: border-box; width: 33.3%; height: 100%; padding: 0; text-align: center; }
body.page-dashboard .grid-dashboard > .grid-item .list-chart > li .chart { top: 25px; right: 5px; bottom: 20px; left: 5px; }

body { min-width: 1280px; background-color: #2d373f; }

/* layout - header utils */
.layout-header-utils { position: absolute; z-index: 800; top: 0; right: 0; left: 70px; height: 60px; padding-left: 15px; transition: all .3s ease-in-out;background-color: #1c2426; 
	/* open */ }
.layout-header-utils .btn-menus {position: relative;  display: inline-block; width: 32px; height: 32px; vertical-align: middle; text-indent: -9999px; }
.layout-header-utils .btn-menus:before { content: ''; text-indent: 0; }
.layout-header-utils .btn-menus:before {font-size: .688rem; line-height: 32px; position: absolute; top: 0; right: 0; bottom: 0; left: 0;  display: block; color: #529f06; }
.layout-header-utils .location {line-height: 60px;  display: inline-block; vertical-align: middle; }
.layout-header-utils .location a { font-size: .875rem; color: rgba(255, 255, 255, .5); }
.layout-header-utils .location a:last-child { color: rgba(93, 181, 0, .8); }
.layout-header-utils .location a + a:before {display: inline-block; width: 3px; height: 5px; margin: -2px 6px 0 5px;  content: ''; vertical-align: middle; background-image: url(../images/sprites.png); background-position: -132px -51px; }
.layout-header-utils .list-utils { position: absolute; top: 0; right: 0; bottom: 0; }
.layout-header-utils .list-utils > li { display: inline-block; padding-right: 15px; }
.layout-header-utils .list-utils > li > a , .layout-header-utils .list-utils > li > button {font-size: .750rem; line-height: 60px;  display: inline-block; color: #cad1db; }
.layout-header-utils .list-utils > li > a:before , .layout-header-utils .list-utils > li > button:before {font-size: 14px;  display: inline-block; margin: -4px 9px 0 0; vertical-align: middle; color: #cad1db; }
.layout-header-utils .list-utils > li > a.user:before , .layout-header-utils .list-utils > li > button.user:before { content: ''; text-indent: 0; }
.layout-header-utils .list-utils > li > a.help:before , .layout-header-utils .list-utils > li > button.help:before { content: ''; text-indent: 0; }
.layout-header-utils .list-utils > li > a.help:before , .layout-header-utils .list-utils > li > button.help:before { font-size: 14px; }
.layout-header-utils .list-utils > li > a.logout:before , .layout-header-utils .list-utils > li > button.logout:before { content: ''; text-indent: 0; }
.layout-header-utils .list-utils > li > a.logout:before , .layout-header-utils .list-utils > li > button.logout:before { font-size: 14px; }
.layout-header-utils .list-utils > li + li:before {display: inline-block; width: 1px; height: 11px; margin: 0 10px 0 -4px;  content: ''; vertical-align: middle; background-color: #777c7d; }
.layout-header-utils .bootstrap-select {position: relative;  display: inline-block; }
.layout-header-utils .bootstrap-select .glyphicon {position: absolute;  display: block; }
.layout-header-utils .bootstrap-select .glyphicon.en {width: 20px; height: 14px;  background-image: url(../images/sprites.png); background-position: -54px -78px; }
.layout-header-utils .bootstrap-select .glyphicon.ko {width: 20px; height: 14px;  background-image: url(../images/sprites.png); background-position: -80px -78px; }
.layout-header-utils .bootstrap-select .glyphicon.zh {width: 20px; height: 14px;  background-image: url(../images/sprites.png); background-position: -28px -78px; }
.layout-header-utils .bootstrap-select .dropdown-toggle {font-size: .750rem; line-height: 60px; position: relative;  display: block; box-sizing: border-box; width: 100%; height: 60px; padding-right: 30px; padding-left: 30px; text-align: left; color: #cad1db; background: url('/assets/images/bg_login_select.png') right center no-repeat; }
.layout-header-utils .bootstrap-select .dropdown-toggle:before { content: ''; text-indent: 0; }
.layout-header-utils .bootstrap-select .dropdown-toggle:before {font-size: 12px; line-height: 32px; position: absolute; top: 50%; left: 9px;  display: block; margin-top: -16px; color: #a8aaaf; }
.layout-header-utils .bootstrap-select .dropdown-toggle.bs-placeholder { color: #a9a9a9; }
.layout-header-utils .bootstrap-select .dropdown-toggle .filter-option { line-height: 62px; }
.layout-header-utils .bootstrap-select .dropdown-toggle .glyphicon { position: absolute; top: 50%; left: 7px; margin-top: -7px; }
.layout-header-utils .bootstrap-select.open > .dropdown-menu {top: 100%;  display: block; visibility: visible; opacity: 1; }
.layout-header-utils .bootstrap-select > .dropdown-menu {position: absolute; z-index: 1; top: 80%; left: 50%;  display: block; visibility: hidden; box-sizing: border-box; width: 140%; min-width: 100%; margin-left: -70%; padding: 4px; transition: visibility, .3s ease-in-out, opacity .3s ease-in-out, top .3s ease-in-out; opacity: 0; border: 1px solid #1c2426; border-radius: 3px; background-color: #283036; }
.layout-header-utils .bootstrap-select > .dropdown-menu.inner { position: static; float: none; margin: 0; padding: 0; border: 0; border-radius: 0; box-shadow: none; }
.layout-header-utils .bootstrap-select > .dropdown-menu li { position: relative; }
.layout-header-utils .bootstrap-select > .dropdown-menu li.active small { color: #fff; }
.layout-header-utils .bootstrap-select > .dropdown-menu li.selected a { background-color: #20262b; }
.layout-header-utils .bootstrap-select > .dropdown-menu li a {font-size: 12px; line-height: 34px; position: relative;  display: block; padding: 0 0 0 36px; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; color: #cad1db; border-radius: 2px; }
.layout-header-utils .bootstrap-select > .dropdown-menu li a:hover { background-color: #20262b; }
.layout-header-utils .bootstrap-select > .dropdown-menu li a .glyphicon { position: absolute; top: 50%; left: 7px; margin-top: -7px; }
.layout-header-utils .bootstrap-select > .dropdown-menu li a.opt { position: relative; padding-left: 2.25em; }
.layout-header-utils .bootstrap-select > .dropdown-menu li a span.check-mark { display: none; }
.layout-header-utils .bootstrap-select > .dropdown-menu li a span.text { display: inline-block; }
.layout-header-utils .bootstrap-select > .dropdown-menu li a small { padding-left: .5em; }
.layout-header-utils .bootstrap-select > select { position: absolute !important; bottom: 0; left: -9999px; display: block !important; width: .5px !important; height: 100% !important; padding: 0 !important; opacity: 0 !important; border: none; }
.layout-header-utils .language-container {position: relative;  display: inline-block; }
.layout-header-utils .language-container .btn-language {font-size: .750rem; line-height: 60px;  display: inline-block; color: #cad1db; }
.layout-header-utils .language-container .btn-language:before { content: ''; text-indent: 0; }
.layout-header-utils .language-container .btn-language:before {font-size: 14px;  display: inline-block; margin: -4px 9px 0 0; vertical-align: middle; color: #cad1db; }
.layout-header-utils .language-container .btn-language:after {display: inline-block; width: 10px; height: 6px; margin: -2px 0 0 9px;  content: ''; vertical-align: middle; background-image: url(../images/sprites.png); background-position: -124px -78px; }
.layout-header-utils .language-container .btn-language.is-show + .list-language {top: 60px;  visibility: visible; opacity: 1; }
.layout-header-utils .language-container .list-language {position: absolute; top: 40px;  display: block; visibility: hidden; padding: 3px 4px 4px 4px; transition: all .3s ease-in-out; opacity: 0; border: 1px solid #1c2426; border-radius: 3px; background-color: #283036; }
.layout-header-utils .language-container .list-language > li { padding-top: 1px; }
.layout-header-utils .language-container .list-language > li a {font-size: .750rem; line-height: 2.833em;  display: block; width: 75px; padding: 0 0 0 19px; color: #cad1db; border-radius: 3px; }
.layout-header-utils .language-container .list-language > li a:hover { background-color: #20262b; }
body[data-state=is-open] .layout-header-utils { left: 220px; }

/* layout - side menu */
.layout-sidemenu { position: absolute; z-index: 800; top: 0; bottom: 0; left: 0; width: 70px; transition: all .3s ease-in-out;background-color: #1c2426; 
	/* menus */
	/* sub menus */
	/* open */ }
.layout-sidemenu .btn-nyx-logo {position: relative;  display: block; width: 100%; height: 60px; text-indent: -9999px; background-color: #18191f; }
.layout-sidemenu .btn-nyx-logo:before {position: absolute; top: 50%; left: 50%; display: block; width: 38px; height: 13px; margin-top: -6.5px; margin-left: -19px;  content: ''; background-image: url(../images/sprites.png); background-position: -70px -51px; }
.layout-sidemenu .list-menus > li { position: relative; }
.layout-sidemenu .list-menus > li > a , .layout-sidemenu .list-menus > li > button {font-size: .813em; font-weight: bold; position: relative;  display: block; box-sizing: border-box; width: 100%; height: 50px; transition: background-color .1s ease-in-out; text-indent: -9999px; color: #a2acbd; }
.layout-sidemenu .list-menus > li > a:before , .layout-sidemenu .list-menus > li > button:before {font-size: 16px; line-height: 50px; position: absolute; top: 0; right: 0; bottom: 0; left: 0;  display: block; text-align: center; color: #a2acbd; }
.layout-sidemenu .list-menus > li > a:hover , .layout-sidemenu .list-menus > li > button:hover {transition: background-color .3s ease-in-out;  color: #fff; background-color: #283036; }
.layout-sidemenu .list-menus > li > a:hover:before , .layout-sidemenu .list-menus > li > button:hover:before { color: #fff; }
.layout-sidemenu .list-menus > li > a.dashboard:before , .layout-sidemenu .list-menus > li > button.dashboard:before { content: ''; text-indent: 0; }
.layout-sidemenu .list-menus > li > a.zoning:before , .layout-sidemenu .list-menus > li > button.zoning:before { content: ''; text-indent: 0; }
.layout-sidemenu .list-menus > li > a.node:before , .layout-sidemenu .list-menus > li > button.node:before { content: ''; text-indent: 0; }
.layout-sidemenu .list-menus > li > a.analysis:before , .layout-sidemenu .list-menus > li > button.analysis:before { content: ''; text-indent: 0; }
.layout-sidemenu .list-menus > li > a.user:before , .layout-sidemenu .list-menus > li > button.user:before { content: ''; text-indent: 0; }
.layout-sidemenu .list-menus > li > a.preferences:before , .layout-sidemenu .list-menus > li > button.preferences:before { content: ''; text-indent: 0; }
.layout-sidemenu .list-menus > li[data-state=is-selected] > a , .layout-sidemenu .list-menus > li[data-state=is-selected] > button { color: #fff; background-color: #283036; }
.layout-sidemenu .list-menus > li[data-state=is-selected] > a:before , .layout-sidemenu .list-menus > li[data-state=is-selected] > button:before { color: #fff; }
.layout-sidemenu .list-menus > li[data-state=is-hover] .list-sub-menus {z-index: 1; top: 0;  display: block; visibility: visible; transition: all .3s ease-in-out; opacity: 1; }
.layout-sidemenu .list-sub-menus {position: absolute; z-index: 0; top: -20%; left: 99%;  display: block; visibility: hidden; width: auto; padding: 9px 11px 10px 13px; opacity: 0; border-radius: 0px 5px 5px 0px; background-color: #1c2426; }
.layout-sidemenu .list-sub-menus > li { padding-top: 1px; }
.layout-sidemenu .list-sub-menus > li a , .layout-sidemenu .list-sub-menus > li button {font-size: .750rem; font-weight: bold; line-height: 36px;  display: block; padding: 0 12px 0 15px; white-space: nowrap; color: #a2acbd; border-radius: 5px; }
.layout-sidemenu .list-sub-menus > li a:hover , .layout-sidemenu .list-sub-menus > li button:hover { color: #fff; background-color: #161d1e; }
body[data-state=is-open] .layout-sidemenu { width: 220px; }
body[data-state=is-open] .layout-sidemenu .btn-nyx-logo:before { left: 28px; width: 64px; height: 21px; margin: 0; margin-top: -10.5px; background-image: url(../images/sprites.png); background-position: 0px -51px; }
body[data-state=is-open] .layout-sidemenu .list-menus > li { overflow: hidden; }
body[data-state=is-open] .layout-sidemenu .list-menus > li > a , body[data-state=is-open] .layout-sidemenu .list-menus > li > button { padding: 0 0 0 25px; text-indent: 0; }
body[data-state=is-open] .layout-sidemenu .list-menus > li > a:before , body[data-state=is-open] .layout-sidemenu .list-menus > li > button:before {position: static;  display: inline-block; width: 20px; margin: -2px 5px 0 0; padding: 0; vertical-align: middle; }
body[data-state=is-open] .layout-sidemenu .list-menus > li > a.has-submenus:after , body[data-state=is-open] .layout-sidemenu .list-menus > li > button.has-submenus:after {position: absolute; top: 50%; right: 20px; display: block; width: 6px; height: 9px; margin-top: -4.5px;  content: ''; background-image: url(../images/sprites.png); background-position: 0px -106px; }
body[data-state=is-open] .layout-sidemenu .list-menus > li[data-state=is-selected] { background-color: #283036; }
body[data-state=is-open] .layout-sidemenu .list-menus > li[data-state=is-selected] > a.has-submenus:after , body[data-state=is-open] .layout-sidemenu .list-menus > li[data-state=is-selected] > button.has-submenus:after { right: 18px; width: 9px; height: 5px; margin-top: -2.5px; background-image: url(../images/sprites.png); background-position: -12px -106px; }
body[data-state=is-open] .layout-sidemenu .list-menus > li[data-state=is-selected] .list-sub-menus { max-height: 1000px; padding: 0 0 5px 0; transition: max-height 1s ease-in-out; }
body[data-state=is-open] .layout-sidemenu .list-sub-menus {position: static;  display: block; visibility: visible; max-height: 0; padding: 0; opacity: 1; border-radius: 0; background-color: transparent; }
body[data-state=is-open] .layout-sidemenu .list-sub-menus > li { padding: 0; }
body[data-state=is-open] .layout-sidemenu .list-sub-menus > li > a , body[data-state=is-open] .layout-sidemenu .list-sub-menus > li > button {line-height: 32px;  padding: 0 0 0 56px; }
body[data-state=is-open] .layout-sidemenu .list-sub-menus > li > a:hover , body[data-state=is-open] .layout-sidemenu .list-sub-menus > li > button:hover { background-color: transparent; }

/* layout contents container */
.layout-contents { padding: 74px 14px 44px 84px; transition: padding .3s ease-in-out;
	/* open */ }
body[data-state=is-open] .layout-contents { padding-left: 220px; }

/*
page : filelist
*/
.filelist { color: #fff; }
.filelist a { color: #fff; }

.intro { margin: 0 auto; }

.grid-intro { overflow: hidden; }
.grid-intro > li { float: left; width: 21.355932203389831%; height: 95px; margin: 10px 1.271186440677966%; }
.grid-intro > li.line-break { clear: both; }
.grid-intro > li.empahsis { height: 217px; }
.grid-intro > li.empahsis .grid-intro-item { padding: 42px 0 0 0; text-align: center; }
.grid-intro > li.empahsis .grid-intro-item:before {position: static;  display: inline-block; margin: 0; }
.grid-intro > li.empahsis .grid-intro-item .title {font-size: 1.000rem;  margin: 0; }
.grid-intro > li.empahsis .grid-intro-item .desc { font-size: .750rem; font-weight: 400; }
.grid-intro > li.combine { width: 45.254237288135594%; }
.grid-intro > li .grid-intro-item {position: relative;  display: block; box-sizing: border-box; width: 100%; height: 100%; padding: 15px 20px 0 0; transition: all .3s ease-in-out; text-align: right; border: 1px solid #1c2426; border-radius: 4px; background-color: #283036; }
.grid-intro > li .grid-intro-item:before {line-height: 52px; position: absolute; top: 50%; bottom: 0; left: 25px;  display: block; width: 52px; height: 52px; margin-top: -26px; text-align: center; }
.grid-intro > li .grid-intro-item:after {position: absolute; top: 0; right: 0; bottom: 0; left: 0; display: block;  content: ''; opacity: 0; background-color: rgba(0, 0, 0, .6); }
.grid-intro > li .grid-intro-item .buttons { display: block; visibility: hidden; text-align: center; opacity: 0; }
.grid-intro > li .grid-intro-item .buttons .btns {font-size: .875rem; line-height: 36px;  display: inline-block; width: 110px; height: 34px; color: rgba(255, 255, 255, .8); border-radius: 2px; background-color: #394753; }
.grid-intro > li .grid-intro-item .buttons .btn-go { background-color: #518f10; }
.grid-intro > li .grid-intro-item:hover:after {transition: opacity .5s ease-in-out;  opacity: 1; }
.grid-intro > li .grid-intro-item:hover .buttons {position: absolute; z-index: 1; top: 50%; right: 0; left: 0;  display: block; visibility: visible; margin-top: -17px; transition: all .3s ease-in-out; opacity: 1; }
.grid-intro > li .grid-intro-item .title {font-size: .875rem; font-weight: 700;  display: block; margin-bottom: 5px; }
.grid-intro > li .grid-intro-item .title span { font-weight: 400; }
.grid-intro > li .grid-intro-item .desc { font-size: .750rem; font-weight: 400; }
.grid-intro > li .grid-intro-item .desc strong { font-size: 1.813rem; font-weight: 500; }
.grid-intro > li .grid-intro-item.dashboard { color: #529f06; }
.grid-intro > li .grid-intro-item.dashboard:before { content: ''; text-indent: 0; }
.grid-intro > li .grid-intro-item.dashboard:before { font-size: 50px; }
.grid-intro > li .grid-intro-item.event-alarm { color: #25c4af; }
.grid-intro > li .grid-intro-item.event-alarm:before { content: ''; text-indent: 0; }
.grid-intro > li .grid-intro-item.event-alarm:before { font-size: 48px; }
.grid-intro > li .grid-intro-item.node { color: #4d9cde; }
.grid-intro > li .grid-intro-item.node:before { content: ''; text-indent: 0; }
.grid-intro > li .grid-intro-item.node:before { font-size: 44px; }
.grid-intro > li .grid-intro-item.zone { color: #d46e57; }
.grid-intro > li .grid-intro-item.zone:before { content: ''; text-indent: 0; }
.grid-intro > li .grid-intro-item.zone:before { font-size: 52px; }
.grid-intro > li .grid-intro-item.anr { padding: 23px 0 0 28px; text-align: left; color: #529f06; background-image: url('/assets/images/bg_anr.png'); background-repeat: no-repeat; background-position: right bottom; }
.grid-intro > li .grid-intro-item.anr:before { content: ''; text-indent: 0; }
.grid-intro > li .grid-intro-item.anr:before { font-size: 42px; text-align: left; }
.grid-intro > li .grid-intro-item.fault-event { color: #ed5565; }
.grid-intro > li .grid-intro-item.fault-event:before { content: ''; text-indent: 0; }
.grid-intro > li .grid-intro-item.fault-event:before { font-size: 52px; }
.grid-intro > li .grid-intro-item.save-energy { color: #25c4af; }
.grid-intro > li .grid-intro-item.save-energy:before { content: ''; text-indent: 0; }
.grid-intro > li .grid-intro-item.save-energy:before { font-size: 49px; }
.grid-intro > li .grid-intro-item.users { color: #529f06; }
.grid-intro > li .grid-intro-item.users:before { content: ''; text-indent: 0; }
.grid-intro > li .grid-intro-item.users:before { font-size: 42px; }
.grid-intro > li .grid-intro-item.preferences { color: #529f06; }
.grid-intro > li .grid-intro-item.preferences:before { content: ''; text-indent: 0; }
.grid-intro > li .grid-intro-item.preferences:before { font-size: 42px; }
.grid-intro > li .grid-intro-item.widget01 { color: #4d9cde; }
.grid-intro > li .grid-intro-item.widget01:before { content: ''; text-indent: 0; }
.grid-intro > li .grid-intro-item.widget01:before { font-size: 52px; }
.grid-intro > li .grid-intro-item.widget02 { color: #26a192; }
.grid-intro > li .grid-intro-item.widget02:before { content: ''; text-indent: 0; }
.grid-intro > li .grid-intro-item.widget02:before { font-size: 42px; }

/* layout login */
.layout-login { position: relative; width: 100vw; height: 100vh; background-repeat: no-repeat; background-position: center center; background-size: cover; }
.layout-login[data-bg-state=bg0] {transition: background-image 3s;  background-image: url('/assets/images/bg_login01.jpg'); }
.layout-login[data-bg-state=bg1] {transition: background-image 3s;  background-image: url('/assets/images/bg_login02.jpg'); }
.layout-login[data-bg-state=bg2] {transition: background-image 3s;  background-image: url('/assets/images/bg_login03.jpg'); }
.layout-login .login-form { position: absolute; top: 50%; right: 0; left: 0; width: 100%; height: 410px; margin-top: -205px; background-color: rgba(2, 2, 23, .6); }
.layout-login .login-form .login-form-inner {width: 284px;  margin: 0 auto; padding-top: 70px; }
.layout-login .login-form .login-title { display: block; width: 140px; height: 45px; text-indent: -9999px; background-image: url(../images/sprites.png); background-position: 0px 0px; }
.layout-login .login-form .description {font-size: .875rem;  margin-top: 20px; color: #5db502; }
.layout-login .login-form .item {position: relative;  display: block; margin-top: 10px; }
.layout-login .login-form .item:before {font-size: 12px; line-height: 32px; position: absolute; top: 50%; left: 9px;  display: block; margin-top: -16px; color: #a8aaaf; }
.layout-login .login-form .item.id:before { content: ''; text-indent: 0; }
.layout-login .login-form .item.password:before { content: ''; text-indent: 0; }
.layout-login .login-form input[type=text] , .layout-login .login-form input[type=password] {font-size: .813rem; line-height: 34px;  display: block; box-sizing: border-box; width: 100%; height: 34px; padding-left: 30px; color: #fff; border: 1px solid rgba(229, 230, 231, .5); background-color: rgba(2, 2, 23, .5); }
.layout-login .login-form input[type=checkbox] {display: inline-block; width: 22px; height: 22px; margin-top: 10px; vertical-align: middle; border: 1px solid rgba(229, 230, 231, .5); background-color: rgba(2, 2, 23, .5);  -webkit-appearance: none; -moz-appearance: none; appearance: none; }
.layout-login .login-form input[type=checkbox]:checked {width: 22px; height: 22px;  border: 1px solid #59941b; background-color: #59941b; background-image: url(../images/sprites.png); background-position: 0px -78px; }
.layout-login .login-form input[type=checkbox] + label {font-size: .813rem; line-height: 22px;  display: inline-block; margin-top: 10px; margin-left: 8px; vertical-align: middle; color: #fff; }
.layout-login .login-form .bootstrap-select .glyphicon {position: absolute;  display: block; }
.layout-login .login-form .bootstrap-select .glyphicon.en {width: 20px; height: 14px;  background-image: url(../images/sprites.png); background-position: -54px -78px; }
.layout-login .login-form .bootstrap-select .glyphicon.ko {width: 20px; height: 14px;  background-image: url(../images/sprites.png); background-position: -80px -78px; }
.layout-login .login-form .bootstrap-select .glyphicon.zh {width: 20px; height: 14px;  background-image: url(../images/sprites.png); background-position: -28px -78px; }
.layout-login .login-form .bootstrap-select .dropdown-toggle {font-size: .813rem; line-height: 32px; position: relative;  display: block; box-sizing: border-box; width: 100%; height: 34px; padding-left: 30px; text-align: left; color: #fff; border: 1px solid rgba(229, 230, 231, .5); background: rgba(2, 2, 23, .5) url('/assets/images/bg_login_select.png') right center no-repeat; }
.layout-login .login-form .bootstrap-select .dropdown-toggle:before { content: ''; text-indent: 0; }
.layout-login .login-form .bootstrap-select .dropdown-toggle:before {font-size: 12px; line-height: 32px; position: absolute; top: 50%; left: 9px;  display: block; margin-top: -16px; color: #a8aaaf; }
.layout-login .login-form .bootstrap-select .dropdown-toggle.bs-placeholder { color: #a9a9a9; }
.layout-login .login-form .bootstrap-select .dropdown-toggle .glyphicon { position: absolute; top: 50%; left: 7px; margin-top: -7px; }
.layout-login .login-form .bootstrap-select.open > .dropdown-menu {top: 100%;  display: block; visibility: visible; opacity: 1; }
.layout-login .login-form .bootstrap-select > .dropdown-menu {position: absolute; z-index: 1; top: 80%; left: 0;  display: block; visibility: hidden; box-sizing: border-box; min-width: 100%; padding: 4px; transition: visibility, .3s ease-in-out, opacity .3s ease-in-out, top .3s ease-in-out; opacity: 0; border-radius: 3px; background-color: #283036; }
.layout-login .login-form .bootstrap-select > .dropdown-menu.inner { position: static; float: none; margin: 0; padding: 0; border: 0; border-radius: 0; box-shadow: none; }
.layout-login .login-form .bootstrap-select > .dropdown-menu li { position: relative; }
.layout-login .login-form .bootstrap-select > .dropdown-menu li.active small { color: #fff; }
.layout-login .login-form .bootstrap-select > .dropdown-menu li.selected a { background-color: #20262b; }
.layout-login .login-form .bootstrap-select > .dropdown-menu li a {font-size: 12px; line-height: 34px; position: relative;  display: block; padding: 0 0 0 36px; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; color: #cad1db; border-radius: 2px; }
.layout-login .login-form .bootstrap-select > .dropdown-menu li a:hover { background-color: #20262b; }
.layout-login .login-form .bootstrap-select > .dropdown-menu li a .glyphicon { position: absolute; top: 50%; left: 7px; margin-top: -7px; }
.layout-login .login-form .bootstrap-select > .dropdown-menu li a.opt { position: relative; padding-left: 2.25em; }
.layout-login .login-form .bootstrap-select > .dropdown-menu li a span.check-mark { display: none; }
.layout-login .login-form .bootstrap-select > .dropdown-menu li a span.text { display: inline-block; }
.layout-login .login-form .bootstrap-select > .dropdown-menu li a small { padding-left: .5em; }
.layout-login .login-form .bootstrap-select > select { position: absolute !important; bottom: 0; left: -9999px; display: block !important; width: .5px !important; height: 100% !important; padding: 0 !important; opacity: 0 !important; border: none; }
.layout-login .login-form .btn-submit {font-size: .875rem; font-weight: 500; line-height: 40px;  display: block; width: 100%; height: 40px; margin-top: 10px; text-align: center; color: #fff; border-radius: 2px; background-color: #59941b; }

/* theme
	- default(dark gray)
	- green
	- light-gray
	- blue-green
*/
